{% extends 'base.html' %}
{% block title %}
<title>KCAU Clinic</title>
{% endblock title %}
<!-- body start -->
{% block body %}
<div class="container mt-30">
  <div class="row">
    <div class="col-md-6">
      <img src="../static/images/logo.jpg" height="400" width="500" />
    </div>
    <div class="col-md-6">
      <p>Welcome to KCAU Clinic</p>
      <br />
      <h2>Best Care For Your Good Health</h2>
      <p class="text-muted">
        Visit us we care about you
      </p>
      <p class="text-muted">
        <ion-icon name="checkmark-circle-outline"></ion-icon>Apartments
        frequently or motionless
      </p>
      <p class="text-muted">
        <ion-icon name="checkmark-circle-outline"></ion-icon>Apartments
        frequently or motionless
      </p>
      <p class="text-muted">
        <ion-icon name="checkmark-circle-outline"></ion-icon>Apartments
        frequently or motionless
      </p>
      <button type="button" class="btn btn-outline-info">Learn More</button>
    </div>
  </div>
    
  
</div>

<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>


{{user_type}}
{% endblock body %}
